* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1a202c;
}

.Home {
  position: absolute;
  right: 10;
  top: 13;
  color: white;
  padding: 0.7em 1em;
  margin-left: 1em;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
  text-decoration: none;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

#search-container {
  margin: 1em 0;
}

#search-container input {
  color: white;
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}

#search-container input:focus {
  border-bottom-color: white;
}

#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}

.button-value {
  border: 2px solid #007bff;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.active {
  background-color: #007bff;
  color: #ffffff;
}

#products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 90px 20px;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  transition: filter 0.3s ease;
  border-radius: 9px;
  min-height: 390px;
  object-fit: contain;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card {
  background-color: #030712;

  margin-top: 1.5em;
  padding: 1em;
  padding-bottom: 0px;
  border-radius: 9px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

.image-overlay-text {
  color: white;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
  transform: translateY(20px);
  transition: transform 0.3s ease;
}

.image-container:hover .image-container img {
  filter: brightness(50%);
  border-radius: 9px;
}

.image-container:hover .image-overlay {
  opacity: 1;
  border-radius: 9px;
}

.image-container:hover .image-overlay-text {
  transform: translateY(0);
  border-radius: 9px;
}

.container {
  padding-top: 1em;
  color: #110f29;
  padding-bottom: 20px;
}

.container h5 {
  font-weight: 500;
}

.hide {
  display: none;
}

.website-name {
  color: white;
  text-align: center;
  padding-top: 5px;
  font-size: 14px;
  margin-bottom: 22px;

}

.website-hashtag {
  text-align: center;
  color: white;
  padding-top: 12px;
  font-size: 14px;
}

.website-link {
  text-align: start;
  padding-top: 12px;
  font-size: 16px;
  padding: 5px 32px;
  border-radius: 2px;
  background-color: #007bff;
  color: white;
  text-decoration: none;

}

@media (max-width: 890px) {
  img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }

  #products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 90px 20px;
  }

  .card {
    background-color: #121212;
    max-width: 100%;
    margin-top: 1.5em;
    padding: 1em;
    border-radius: 9px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
  }

  .Home {
    display: block;
    position: var(--swiper-navigation-size);
    width: 85px;
    color: white;
    text-align: center;
    padding: 0.7em 1em;
    margin-left: 1em;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
    text-decoration: none;
  }

  .image-container {
    position: relative;
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
    border-radius: 9px;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}